@media all and (max-width: 1000px) {
    nav{
        flex-direction: column;
        width: 100%;
    }

    .menu{
        display: block;
        position: absolute;
        right: 50px;
        top: 1.25rem
    }
    .menu img{
        height: 30px;
        width: 30px;
    }
    nav .logo {
        width: 100%;
        margin-left: 10px;
        padding: 0 4%;
    }
    nav .logo img{
        height: 1.2cm;
        width: 2.5cm;
    }
    .login{
        display: none;
    }
    .list{
    display: none;
    }
    .list-menu{
        display: block;
        justify-content: space-around;
    }
    .active{
        display: block;
    } 
}
::-webkit-scrollbar{
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(14, 92, 165, 0.75);
}

/*Home*/
#home{
    background-image: linear-gradient(rgba(2,9,54,0.3),rgba(5,4,46,0.7)),url("slider_1.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#home h2{
    color: #eee;
    letter-spacing: 1px;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 25px;
}
#home p{
    width: 50%;
    color: #eee;
    line-height: 25px;
    font-size: 0.9rem;
}
#home .btn{
    margin-top: 30px;
}
#home a{
    font-weight: 600;
    text-decoration: none;
    padding: 13px 35px;
    font-size: .9rem;
    background: #eee;
    border-radius: 5px;
}
#home a.blue{
    color: #fff;
    background: hsla(197, 75%, 41%, 0.5);
}
#home a.blue:hover{
    color: #fff;
    background: hsla(197, 75%, 41%, 0.8);
}
#home a.yellow{
    background: rgba(255, 255, 255, 0.75);
    color: hsla(197, 75%, 41%);
}
#home a.yellow:hover{
    background: rgba(255, 255, 255);
    color: hsla(197, 75%, 41%);
}

/*Features*/
#feature{
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}
#feature .boxicon_base{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1cm;
    margin-top: 50px;
}
#feature h1{
    color: rgb(19, 78, 133);
    font-size: 2.5rem;
}
#feature .boxicon{
    background: #f9f9ff;
    text-align: start;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
#feature .boxicon svg{
    height: 40px;
    width: 40px;
}
#feature .boxicon h5{
    font-size: 1.2rem;
    color: rgba(6, 30, 53, 0.75);
    padding: 3px 0 6px 0;
    font-weight: 600;
}
#feature .boxicon p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(6, 30, 53, 0.75);
    padding: 1px 0 6px 0;
}

/*Course*/
#course{
        padding: 5vw 8vw 8vw 8vw;
        text-align: center;
    } 
    #course h1{
        color: rgb(19, 78, 133);
        font-size: 2.5rem;
    }
    #course .course-box{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 1cm;
        margin-top: 50px;
    }
    #course .courses{
       text-align: start;
       background: #F9F9FF;
       height: 100%;
       background: #f1f1db83;
       box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
    #course .courses img{
        width: 100%;
        height: 60%;
        background-size: cover;
        background-position: center;
    }
    #course .courses .explained{
        padding: 15px 15px 0 15px;
    }
    #course .courses .explained svg{
        color: #FDC938;
        font-size: .9rem;
    }

/*registration*/
#registration{
padding: 8vw 8vw 6vw 8vw;
background-image: linear-gradient(rgba(99,112,168,0.2), rgba(81,91,223,0.2)), url("slier3.jpg");
width: 100%;
height: 100%;
background-size: cover;
background-position: center;
display: flex;
justify-content: space-between;
align-items: center;
box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}   
#registration h1{
    color: rgb(19, 78, 133);
    font-size: 2.5rem;
}
#registration .reminder h1{
    color: #fff;
    font-size: 2rem;
} 
#registration .reminder .time{
    color: #fff;
    display: flex;
    margin-top: 40px;
}
#registration .reminder .time .date{
 text-align: center;
 padding: 13px 33px;
 background: rgba(255, 255, 255, 0.3);
 backdrop-filter: blur(4px);
 box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
 border-radius: 10px;
 margin: 0 5px 10px 5px;
 border: 1px solid rgba(255, 255, 255, 0.18);
 font-size: 1.1rem;
 font-weight: 600;
}
#registration .form .btn-1{
    margin: 20px;
}
#registration .form{
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;

    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
#registration .form input {
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgba(84, 40, 241);
    outline: none;
    border-radius:10px ;
}
#registration .form input::placeholder{
    color: #413c3c;
    font-weight: 500;
    font-size: 0.9rem;
}
#registration button.yellow{
    font-weight: 600;
    text-decoration: none;
    padding: 13px 35px;
    font-size: .9rem;    
    border-radius: 5px;
    border: 20%;
    color: #fff;
    border-color: hsla(251, 75%, 41%, 0.5);
    background: hsla(251, 75%, 41%, 0.5);
    transition: .75s ease;
}
#registration .yellow:hover{
    color: rgba(105, 58, 58, 0.582);
    background: hsla(71, 11%, 72%, 0.692);
}
/*program*/
#program{
    padding: 8vw 8vw 8vw 8vw;
    text-align: center; 
} 
#program h1{
    color: rgb(19, 78, 133);
    font-size: 2.5rem;
}
#program .program-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1cm;
    margin-top: 50px;
}
#program .program{
    text-align: start;
    background: #F9F9FF;
    height: 100%;
    background: #f1f1db;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
 }
 #program .program img{
     width: 100%;
     height: 60%;
     background-size: cover;
     background-position: center;
 }
/*About*/
#about{
    padding: 5vw 8vw 0 8vw;
    text-align: center;
} 
#about h1{
    color: rgb(19, 78, 133);
    font-size: 2.5rem;
}
#about h2{
    color: rgb(19, 78, 133);
    font-size: 2.25rem;
}
#about .mission-base{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1cm;
    margin-top: 50px;
}
#about .mission{
    text-align: start;
    height: 100%;
    background: #f3f3e7;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
#about .mission img{
     width: 100%;
     height: 60%;
     background-size: cover;
     background-position: center;
}

/*Experts*/
#experts{
    padding: 1vw 1vw 1vw 1vw;
    text-align: center;
}
#experts h1{
    color: rgb(19, 78, 133);
    font-size: 2.5rem;
}
#experts .expert-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top:50px;
}
#experts .expert-box .profile{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
#experts .expert-box img{
    border-radius: 50rem;
}
#experts .expert-box .profile{
    background: #f1f1db;
    padding: 30px 10px ;
}
.ro-links{
    margin-top: 10px;
}
.ro-links svg{
    padding: 10px 13px;
    border: 1px solid rgba(21, 21, 100);
    cursor: pointer ;
}

/*Dashboard*/
#dashboard{
    padding: 1vw 1vw 1vw 1vw;
    text-align: center;
}
#dashboard h1{
    color: rgb(19, 78, 133);
    font-size: 2.5rem;
}
#dashboard .student-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}
#dashboard .student-box img{
    border-radius: 500rem;
}
#dashboard .student-box .student{
    background: #f1f1db;
    padding: 30px 10px ;
    background: #f1f1dbc5;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
/*Footer*/
footer{
    padding: 8vw;
    background-color: #101C32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
footer.footer-col{
    padding-bottom: 40px;
}
footer h3{
    color: rgba(241, 240, 245);
    font-weight: 600;
    padding-bottom: 20px;
}
footer li{
    list-style: none;
    color: #7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: .3 ease;
}
footer li:hover{
    color: rgba(241, 240, 245);
}
footer p{
    color: #7b838a
}
footer .subscribe{
    margin-top: 20px;
}
footer .subscribe input{
    width: 220px;
    padding: 15px 12px;
    background: #334F6C;
    border: none;
    outline: none;
    color: #fff;
}
footer .subscribe a{
    font-weight: 600;
    text-decoration: none;
    padding: 13px 15px;
    font-size: .9rem;    
    border-radius: 5px;
    color: #fff;
    background: hsla(251, 75%, 41%, 0.5);
    transition: .75s ease;
}
footer .subscribe a:hover{
    color: rgb(17, 13, 13);
    background: hsl(240, 33%, 99%);
}
footer .copyright{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
footer .copyright p {
    color: #fff;
}
footer .copyright .ro-links svg{
    background-color: #5f7185;
    color: #fff;
}